:root{
    --color-grey: rgb(189, 187, 187);

    body {
        margin: 0;
        padding: 0;
        font-family: 'Roboto', sans-serif;

        .nav-bar{
            text-align: right;
            padding: 20px;

            #advanced-search,#images{
                padding-right: 10px;
                font-size: 13px;
                color: black;
            }
            a{
                text-decoration: none;
            }
        }
        .container {
            display: flex;
            justify-content: center;
            margin-top: 5.5%;

            form {
                width: 60%;

                .form-group {
                    display: flex;
                    justify-content: center;
                    padding: .80rem;

                    #icon{
                        position: absolute;
                    }
                    .icon { 
                        padding-top: 13px;
                        padding-left: 1.18rem;
                       color: var(--color-grey);
                       width: 50px;
                    }
                    .search-box{
                        border-radius: 2.35rem;
                        width: 540px;
                        min-width: 350px;
                        height: 2.60rem;
                        border-style: solid;
                        border-width: .25px;
                        border-color: rgb(206, 206, 206);
                        padding-left: 45px;
                        font-size: 16px;
                    }
                    .search-box:hover{
                        box-shadow: 0 0 4px 1px rgb(223, 222, 222);
                    }
                    .close-icon {
                        border: 1px solid transparent;
                        background-color: transparent;
                        vertical-align: middle;
                        display: inline-block;
                        z-index: 1;
                        width: 0px;
                        box-sizing: 0;
                        position: absolute;
                        right: 455px;
                        padding-top: .50rem;
                    }
                    .close-icon:after {
                        content: "\2715";
                        font-weight: bold;
                        color: grey;
                        font-size: 19px;
                        cursor: pointer;
                        right: 43px;
                        z-index: 1;
                        position: relative;
                    }
                    .search-box:not(:valid) ~ .close-icon{
                        display: none;
                    }
                    .submit-button{
                        width: 135px;
                        height: 2.35rem;
                        margin: 5px;
                        border-radius: .20rem;
                        background-color: rgb(248, 248, 248);
                        border-width: 0;
                        color: rgb(43, 42, 42); 
                        font-size: 14px;
                    }
                    .submit-button:hover{
                        box-shadow: 0 0 1px 1px rgb(179, 176, 176);
                    }
                }
            }
        }
    }
}